.container {
  padding: 20px;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  // min-height: 100vh;
  box-sizing: border-box;
}

.content {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.8); // Add a semi-transparent background
}

.content h1 {
  font-weight: bold;
  color: var(--text-color1);
  font-size: clamp(32px, 5vw, 62px); // Responsive font size
  text-transform: uppercase;
  position: relative;
  margin-bottom: 40px;
  margin-top: 0;
}

p {
  color: var(--text-color1);
  font-size: clamp(14px, 2vw, 17px); // Responsive font size
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
  margin-bottom: 15px;
}

// Media queries for better responsiveness
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .content {
    padding: 15px;
    margin-top: 10px;
  }

  .content h1 {
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 5px;
  }

  .content {
    padding: 10px;
  }

  .content h1 {
    margin-bottom: 15px;
  }
}