.demo_logo_vertical {
  height: 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.25rem;
}

.logo {
  height: 100%;
  width: 100%;
}
:global(.ant-layout-sider-trigger) {
  bottom: auto !important;
}
