/* Header.module.scss */

.header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  align-items: center;
  z-index: 3;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
  height: 40px;
}

.menuToggle {
  display: none;
}

.menuIcon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    li {
      position: relative;

      a {
        display: block;
        padding: 20px 20px;
        color: #333;
        text-decoration: none;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #f0f0f0;
        }
      }

      .dropdownContent {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 10;
        display: none;
        min-width: 150px; /* Độ rộng tối thiểu của dropdown */
        white-space: nowrap; /* Ngăn ngừa text bị xuống dòng */
        max-height: 300px; /* Chiều cao tối đa của dropdown */
        overflow-y: auto; /* Cho phép cuộn khi nội dung quá dài */

        a {
          padding: 10px 20px;
          display: block;
          color: #333;
          text-decoration: none;

          &:hover {
            background-color: #f0f0f0;
          }
        }
      }

      &:hover .dropdownContent {
        display: block;
      }
    }
  }

  &.open {
    transform: translateY(0);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  display: block;
}

.modal_container {
  display: flex;
  align-items: center;

  .logout_button {
    cursor: pointer;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.menuToggle {
  display: none;
}

.menuIcon {
  cursor: pointer;
}

.nav {
  display: flex;
  flex-direction: column;
  padding: calc(10px);
  & li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
}


@media (max-width: 768px) {
  .menuIcon {
    display: block;
  }

  .nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(-100%);
    transition: transform 0.3s ease;
    z-index: 100;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    display: block;
  }
}
