/* Header.module.scss */

.header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  align-items: center;
  z-index: 3;
  padding: 10px 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "Roboto", sans-serif;
}
.closeButton {
  background: none;
  border: none;
  opacity: 0;
  visibility: hidden;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 99999;
}
.menuToggle:checked ~ .closeButton {
  visibility: visible !important;
  opacity: 1 !important;
}

.logo img {
  height: 40px;
}

.menuToggle {
  display: none;
}

.menuIcon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    li {
      position: relative;

      a {
        display: block;
        padding: 20px 20px;
        color: #333;
        text-decoration: none;
        transition: background-color 0.3s ease;
        font-family: "Roboto", sans-serif;

        &:hover {
          background-color: #f0f0f0;
        }
      }

      .dropdownContent {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 10;
        display: none;
        min-width: 150px; /* Độ rộng tối thiểu của dropdown */
        white-space: nowrap; /* Ngăn ngừa text bị xuống dòng */
        max-height: 300px; /* Chiều cao tối đa của dropdown */
        overflow-y: auto; /* Cho phép cuộn khi nội dung quá dài */

        a {
          padding: 10px 20px;
          display: block;
          color: #333;
          text-decoration: none;
          &:hover {
            background-color: #f0f0f0;
          }
        }
      }

      &:hover .dropdownContent {
        display: block;
      }
    }
  }

  &.open {
    transform: translateY(0);
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  display: block;
}

.modal_container {
  display: flex;
  align-items: center;

  .logout_button {
    cursor: pointer;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.menuToggle {
  display: none;
}

.menuIcon {
  cursor: pointer;
}

.menuToggle {
  display: none;
}

.menuIcon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.authButtons {
  display: flex;
  align-items: center;

  .loginBtn {
    margin-right: 10px;
  }

  .signupBtn {
    background-color: #007bff;
    color: white;

    &:hover {
      background-color: #0056b3;
    }
  }
}

.modal_container {
  display: flex;
  align-items: center;

  .logout_button {
    cursor: pointer;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

@media (max-width: 768px) {
  .menuToggle:checked .closeButton {
    visibility: visible !important;
    opacity: 1 !important;
  }
  .login {
    order: 3;
  }
  .logo {
    order: 2;
  }
  .nav {
    opacity: 0;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    width: 320px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 9999;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    order: 1;
  }

  .nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .menuToggle:checked ~ .nav {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  .menuToggle:checked ~ .overlay {
    opacity: 1;
  }

  .menuIcon {
    display: block;
  }
}
