:root {
  --primary: #0075ff;
  --white: #ffffff;
  --white-1: #dfdfdf;
  --gray-1: #777777;
  --black-1: #59595b;
  --icon-default: #8a8a8a;
  --text-color1: #813512;
  --text-color2: #b24006;
  --text-color3: #f4a81e;
  --max-width: 1200px;
  --color-white: #ffffff;
  --color-text: #333333;
  --color-primary: #1890ff;
  --color-background: #f0f2f5;
  --header-height: 64px; // hoặc bất kỳ giá trị nào phù hợp với chiều cao header của bạn
}
