@import "../../../style/index.module.scss";

.mainContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 20%;
}

.sidebar {
  width: 300px;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}
.categoryBox {
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;

  a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    display: block;
    list-style-type: none;
  }

  &:hover:not(.active) {
    background-color: #f0f0f0;
  }

  &.active {
    background-color: #8B4513;

    a {
      color: #ffffff;
    }
  }
}

.mainContent {
  flex: 1;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    margin-bottom: 20px;
  }
}