@import url(../../style/index.module.scss);

.container {
  width: 100%;
  background-image: url("../../assets/images/footer.png"),
    url("../../assets/images/footer2.png");
  background-repeat: no-repeat, no-repeat;
  background-position: right bottom, left top;
  background-size: auto, auto;
  padding: 4rem;
}

.footer {
  background-color: #f8f9fa;
  outline: 3px solid #e9a11c;
  color: #333;
  font-family: "Arial", sans-serif;

  .content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    .logoSection {
      flex: 1;

      .logo {
        max-width: 280px;
        height: auto;
        margin-bottom: 1rem;
        margin-left: -30px;
      }

      h2 {
        font-size: 1.2rem;
        font-weight: bold;
        color: #b24006;
        margin-left: -30px;
        margin-top: -2.5rem;
      }
    }

    .linksSection {
      flex: 2;
      display: flex;
      justify-content: space-between;

      .linkColumn {
        h3 {
          font-size: 1rem;
          font-weight: bold;
          margin-bottom: 0.5rem;
          color: #333;
        }

        a {
          display: block;
          color: #666;
          margin-bottom: 0.3rem;
          font-size: 0.9rem;
          text-decoration: none;

          &:hover {
            color: #007bff;
          }
        }
      }
    }

    .contactSection {
      flex: 1;

      h3 {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
        color: #333;
      }

      .contactForm {
        display: grid;
        gap: 0.5rem;

        input,
        textarea {
          padding: 0.5rem;
          border: 1px solid #ddd;
          border-radius: 4px;
        }

        button {
          background-color: #007bff;
          color: white;
          border: none;
          padding: 0.5rem;
          border-radius: 4px;
          cursor: pointer;
          transition: background-color 0.3s;

          &:hover {
            background-color: #0056b3;
          }
        }
      }
    }
  }

  .bottomSection {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--text-color1);

    p {
      font-size: 1.2rem;
      color: #ffffff;
    }

    .socialIcons {
      a {
        color: #666;
        margin-left: 1rem;
        font-size: 1.2rem;

        &:hover {
          color: #007bff;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .footer {
    .content {
      flex-direction: column;

      .linksSection {
        flex-direction: column;
        gap: 1rem;
      }
    }

    .bottomSection {
      flex-direction: column;
      text-align: center;
      gap: 1rem;
    }
  }
}
