/* Copyright styles */
.copyright {
  background-color: #202020;
  padding: 20px 0;
  text-align: center; /* Căn giữa nội dung */
}

.copyright span {
  color: #878787;
  margin-right: 10px; /* Thêm khoảng cách giữa chữ và menu */
}

.copyright a {
  color: #878787;
  text-decoration: none;
  margin-left: 10px; /* Thêm khoảng cách giữa các mục menu */
  transition: color 0.3s ease;
}

.copyright a:hover {
  color: #007bff;
}

/* Copyright menu styles */
.copyright-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-flex; /* Hiển thị menu theo hàng ngang */
  align-items: center;
}

.copyright-menu li {
  margin-left: 20px; /* Khoảng cách giữa các mục menu */
}
