.mainContentWrapper {
  padding-top: var(
    --header-height
  ); // Thêm padding-top bằng chiều cao của header
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  flex: 1;
}

@media (min-width: 48rem) {
  .mainContentWrapper {
    max-width: 80rem;
    margin: 0 auto; // Bỏ margin-top ở đây
  }
}

@media (max-width: 768px) {
  .mainContentWrapper {
    padding-top: var(--header-height); // Chiều cao của header trên mobile
  }
}
